.countdown {
  align-items: center;
  color: #3d3d3d;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  margin: 0 10%;
}

.emoji {
  font-size: 100px;
  margin-top: 25px;
}

.tentBitch {
  color: #ff4952;
}

.text {
  margin-top: 21px;
}

.unit {
  margin-bottom: 0;
}

.unitBlock {
  flex: 0.25;
}

.wrapper {
  color: #000;
  display: flex;
  flex-direction: row;
  margin-bottom: 21px;
  max-width: 500px;
  width: 100%;
}
